<html>
  <head>
    <meta charset="utf-8">
    <title>EDCAN</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </head>

  <body>
    <div class="mask">
      <div class="login">
        <div class="context">
          EDCAN<div class="text">PortFolio</div>
        </div>

        <div class="loginBox">
          <div class="inputBox">
            <input type="textbox" id="id" class="input" placeholder="Your Id">
            <input type="textbox" id="ps" class="input" placeholder="Your Password">

            <div class="btnBox">
              <input type="button" class="loginBtn" value="Login">

              <input type="button" class="guestBtn" value="Guest">
            </div>
            <div class="aBox">
              <a href="sign.html" class="signup">For Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <scirpt src="js/login.js">
  </body>
</html>
