<html>
  <head>
    <meta charset="utf-8">
    <title>EDCAN</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/sign.css">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </head>

  <body>
    <div class="mask">
      <div class="login">
        <div class="context">
          Register
        </div>

        <div class="loginBox">
          <div class="inputBox">
            <input type="textbox" class="input" placeholder="Your Id">
            <input type="textbox" class="input" placeholder="Your Password">
            <input type="textbox" class="input" placeholder="Your Name">

            <input type="button" class="loginBtn" value="Sign Up">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
