<html>
  <head>
    <meta charset="utf-8">
    <title>EDCAN</title>
    <link rel="stylesheet" href="css/user.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="mask">
        <div class="logo">EDCAN <div class="text">PortFolio</div></div>
        <div class="name">김연준</div>
      </div>
    </div>

    <div class="list">
      <div class="portfolio" value="1">
        <img class="img" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15181275_371322709873880_341438284080648709_n.jpg?oh=fc9765046ae95a5e995de2e190f50920&oe=58E82E95">
        <div id="1" class="description hide">
          <h3 class="desText">나는 선린 대표 엠생 김연준입니다</h3>
        </div>
      </div>

      <div class="portfolio">
        <img class="img" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15181275_371322709873880_341438284080648709_n.jpg?oh=fc9765046ae95a5e995de2e190f50920&oe=58E82E95">


        <div id="2" class="description hide">

        </div>
      </div>

      <div class="portfolio">
        <div class="img">
        </div>

        <div id="3" class="description hide">
        </div>
      </div>

      <div class="portfolio">
        <div class="img">
        </div>

        <div id="4" class="description hide">
        </div>
      </div>
    </div>
    <script src="js/user.js"></script>
  </body>
</html>
